.webview-container-parent {
    background-color: darkgray;
    align-content: center;
    width: 90%;
    padding: 5px;
    margin-left: 20px;
}

.webview-container {
}

.webview {
    width: 100%;
    height: 500px;
}
